/*Estilos para que los números de la paginación sean más grandes y esta se centre*/
.pagination{
  display: flex;
  margin-top: 33px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

/*
.btn-danger{
  margin-left: 10px;
}
*/
